body{
    background-color: rgba(248, 250, 229, 0.938);
    color:rgb(13, 21, 146);      
}

.social .line {
	position: absolute;
	top: 0; left: 0px;
	width: 100%; height: 5px;
	background: #80b504;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 0;
}
.social ul {
	position: fixed;
	left: 50%; margin-left: -216px;
	list-style: none;
	color: rgb(231, 199, 16);
}
.social ul li {
	float: left;
}
.social ul li a {
	position: relative;
	float: left;
	background: #f0ba0b;
	width: 48px; height: 48px;
	text-align: center;
	color: rgb(18, 6, 134);
	padding: 0 0 30px 0;
}
.social ul li a:hover {
	color: #fff;
}

.social ul li {
	float: left;
}
.social ul li a {
	position: relative;
	float: left;
	background: #f0ba0b;
	width: 48px; height: 48px;
	text-align: center;
	color: rgb(226, 23, 23);
	padding: 0 0 30px 0;
}
.social ul li a:hover {
	color: #fff;
}


.fa-facebook, .fa-whats .app, .fa-gmail{
	padding: 10px 0 0 0;
}

/* Pseudo Elements */
.social ul li a:after {
	content: "";
	position: absolute;
	bottom: 0px; left: 0;
	width: 1px; height: 1px;
	border: 24px solid transparent;
	border-bottom: 24px solid #dddfde;
	z-index: 0;
}

/* Hover */
.social ul li.facebook a:hover {
	background: #3b5998;

}
.social ul li.whatsapp a:hover {
	background: rgb(39, 216, 39); 
}
.social ul li.gmail a:hover {
        background: rgb(248, 22, 22); 
    
}
button{
    background-color:#f0ba0b ; color:rgb(38, 54, 202);
    height: 50px; width: 1850px;
    border-color: #032b81;
    font-size: xx-large;
    font-family:"Brush Script MT" ;
}

footer{
    text-align: center;
}